<div class="item">
  <span class="user">{{user}}</span>
  <span class="time">{{timestamp | format_time}}</span> |
  <a href="/posts/{{post_id}}/{{id}}" class="link">link</a>
  <p class="text">{{content}}</p>
  <a href="#" class="reply">reply</a>

  {% for comment in childs %}
    {% assign item = comment %}
    {% include "snippet_comment" with item %}
  {% endfor %}
</div>