<div class="item">
  <a href="/user/{{user}}" class="user">{{user}}</a>
  <span class="time">{{timestamp | format_time}}</span> |
  <a href="/posts/{{post_id}}/{{id}}" class="link">link</a>
  <p class="text">{{content}}</p>
  <a href="/posts/{{post_id}}/{{id}}/reply" class="reply">reply</a>

  {% for comment in childs %}
    {% include "snippet_comment" with comment %}
  {% endfor %}
</div>